.center-text {
  text-align: center;
}
body {
  background-color: #D2C3F6;
}
h1 {
  color: #131d3b
} 
body {
    font-family: 'Noto Sans', sans-serif;
}
@font-face {
  font-family: 'Fairfax Pona HD';
  src: url('fonts/fairfax-pona-hd.ttf') format('opentype');
  font-display: swap
}
.sitelen-pona {
  font-family: 'FairfaxPona', monospace;
}
